
.App {
  background: #f2f6ff;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #1A2151;
}

.App-link {
  color: #61dafb;
}

.container{
  width: 60%;
  margin: 0 auto;
}

.nasa-image {
  width: 650px;
  height: 460px;
  background: #ffffff;
  box-shadow: 0px 20px 40px rgba(92, 103, 153, 0.3),
    0px 0px 3px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

h1{
  text-align: left;
  width: 80%;
}

p{
  line-height: 30px;
}
